<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spz.mapper.ScrapMapper">
    <select id="list" resultType="com.spz.entity.scrap.Scrap">
        select *
        from scrap
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
            <if test="begin != null and end != null">
                and update_time between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
    </select>

    <delete id="deleteByIds">
        delete
        from scrap
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        order by update_time desc
    </delete>
</mapper>