<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spz.mapper.SecondHandItemMapper">
    <update id="updateByItem">
        update second_hand_item
        <set>
            <if test="status != null and status != 0">
                status = #{status},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="information != null and information != ''">
                information = #{information},
            </if>
            <if test="price != null and price != 0">
                price = #{price},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>