<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spz.mapper.UserMapper">
    <update id="updateById">
        update user
        <set>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="introduction != null and introduction != ''">
                introduction = #{introduction},
            </if>
            <if test="headImage != null and headImage != ''">
                head_image = #{headImage},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByUsernameOrBeginAndEnd" resultType="com.spz.entity.user.User">
        select *
        from user
        <where>
            <if test="username != null and username != ''">
                username like concat('%',#{username},'%')
            </if>
            <if test="begin != null and end != null">
                and update_time between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="selectUsersByUserIds" resultType="com.spz.entity.user.User">
        select *
        from user
        where id in
        <foreach collection="userIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        order by update_time desc
    </select>

</mapper>